body {
    max-width: 1600px;
    margin: 0 auto;
}

.titulo-header {
    background: #3B9D14;
    color: #fff;
    padding: 20px;
}

.titulo-header h1 {
    font-size: 3vw;
}

.menu-header a {
    background: lightblue;
    border: 1px inset #adadad;
    color: #333;
    text-align: center;
    padding: 10px;
    transition: background ease 250ms;
    font-weight: bold;
}

.menu-header a:hover {
    background: #a4cdda;
    text-decoration: none;
}

#banner {
    margin-bottom: 70px;
    background: #fcfcfc;
}

#banner p {
    display: block;
    width: 100%;
    margin: 0;
    padding: 60px 0;
    font-size: 2.5vw;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

#banner img {
    width: 100%;
}

.title {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.cuidados-img-holder {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cuidados-img-holder img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    height: 300px;
    object-fit: cover;
}

.descricao-img {
    text-align: center;
    font-size: 30px;
    color: #333;
}

#duvidas .row {
    background: lightblue;
}

.duvidas-img-holder {
    margin: 50px 0;
}

.duvidas-img-holder img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 20px;
}

.duvidas-img-holder p {
    color: #333;
    text-align: center;
    font-size: 2rem;
}

footer {
    background-color: #3B9D14;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-rodape {
    color: #fff;
    margin: 0;
}

.menu-rodape a {
    color: #fff;
}
